<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
	
<mapper namespace="cn.com.git.dao.UserDao">

	<!-- 根据用户名查找用户 -->
	<select id="findByName" resultType="cn.com.git.model.User" parameterType="String">
		select username,password from user where username=#{username}
	</select>
	
	<!-- 查询所有用户 -->
	<select id="findAll" resultType="cn.com.git.model.User" parameterType="String">
		select username,password from user
	</select>
	
	<!-- 添加用户 -->
	<insert id="addUser">
		insert into user(username,password) values (#{username},#{password})
	</insert>
	
	<!-- 修改用户 -->
	<update id="editUser">
		update user set password = #{password} where username = #{username}
	</update>
	
	<!-- 删除用户 -->
	<delete id="delUser">
		delete from user where username = #{username}
	</delete>
</mapper>